.bannerSection {
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../assets/banner-background.png");
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .card{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 200px;
            background: #FFFFFF;
            border-radius: 45px;
            padding: 40px;

            img{
                width: 30%;
                margin: 10px;
            }

            p{
                font-size: .875rem;
                line-height: 20px;
                color: #031B3C;
            }
        }
    }
}

@media(max-width: 1024px){
    .bannerSection{
        height: auto;
        .container{
            width: 100%;
            margin: 20px auto;
            justify-content: center;
            .card{
                width: 100%;
                margin: 0 20px;
            }
        }
    }
}