.cadastroEmpresaSection {
    background: linear-gradient(226.11deg, #2F3D51 8.98%, #1761CA 81.8%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        margin: 50px auto;
        width: 20%;

    }

    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 2.5rem;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        form{
            width: 60%;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .normalInput{
                width: 100%;
                height: 70px;
                border-radius: 8px;
                border: 1px solid #00D570;
                box-shadow: 0px 4px 4px 0px #00000040;

                font-size: 2rem;
                color: #CFCFCF;
                padding: 0 20px;
            }

            .curriculo{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span{
                    width: 100%;
                    font-size: 20px;
                    font-weight: 400;
                    color: #FFFFFF;
                }

                input{
                    width: 100%;
                }
            }

            button{
                width: 80%;
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #4AC34A;
                border: 1px solid #4AC34A;
                border-radius: 8px;
                font-size: 2rem;
                font-weight: 700;
                text-align: center;
                color: #FFFFFF;
                padding: 30px 0;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }

    footer{
        width: 100%;
        margin-top: 100px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50%;
        }
    }
}