.footerSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1861CA;

    .container{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;

        img{
            width: 100%;
        }
    }
}

@media(max-width: 1024px){
    .footerSection{
        .container{
            width: 80%;
        }
    }
}