.header{
    width: 100%;
    padding: 25px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1861CA;

    nav{
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        background: #FFFFFF;
        border-radius: 45px;

        .curriculo{
            font-size: 15px;
            font-weight: 700;
            color: #00D570;
        }

        .empresa{
            font-size: .9375rem;
            font-weight: 700;
            color: #FF4000;
        }

        .curriculo:hover, .empresa:hover{
            text-decoration: underline;
        }

        img{
            width: 20%;
        }
    }

    .login{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
            width: 100%;
            font-size: 1.5rem;
            font-weight: 700;
            color: #FFFFFF;
            padding: 10px 0px;
            cursor: pointer;    

            &:hover{
                border: 1px solid #FFFFFF;
                border-radius: 15px;
            }
        }

        .options{
            width: 100%;
            padding: 15px;
            background: #FFFFFF;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .candidato{
                font-size: .9375rem;
                color: #00D570;
                font-weight: 700;

            }
            .empresas{
                font-size: .9375rem;
                color: #FF4000;
                font-weight: 700;

            }
        }

        .hide{
            display: none;
        }
    }
}