@import "./reset.css";
@import "./header.css";
@import "./banner.css";
@import "./empresas.css";
@import "./pessoas.css";
@import "./whatsapp.css";
@import "./footer.css";
@import "./cadastroCandidato.css";
@import "./loginCnadidato.css";