.loginEmpresaSection{
    width: 100%;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("./../assets/login-empresa-bkg.png");
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            font-weight: 800;
            color: #1761CA;
            text-transform: uppercase;
        }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px auto;

            .inputEdit{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin: 20px auto;
                span{
                    font-size: 1.25rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #1761CA;
                    margin-bottom: 15px;
                }

                input{
                    width: 100%;
                    height: 70px;
                    border: 1px solid #F00E1C;
                    border-radius: 8px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    font-size: 2.5rem;
                    color: gray;
                    padding: 0 20px;

                }
            }

            .btnCard{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span{
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    color: #1861CA;
                    margin: 10px 0;
                }

                .btn{
                    width: 60%;
                    height: 53px;
                    text-align: center;
                    background: #4AC34A;
                    border: 1px solid #4AC34A;
                    border-radius: 8px;
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 10px;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}