.whatsappSection {
    width: 100%;
    margin: 30px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../assets/whatsapp-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .gif {
            width: 40%;

            img {
                width: 100%;
            }
        }

        .explain {
            width: 60%;
            display: flex;
            flex-direction: column;

            h3{
                font-size: 3rem;
                font-weight: 700;
                color: #1861CA;
                margin-bottom: 40px;
            }

            p{
                font-size: 2.25rem;
                color: #1861CA;
                text-align: left;
                margin-bottom: 40px;
            }

            img{
                width: 70%;
            }
        }
    }
}

@media(max-width: 1024px){
    .whatsappSection{
        .container{
            width: 90%;
            flex-direction: column-reverse;

            .gif{
                width: 90%;
            }

            .explain{
                width: 100%;
                text-align: justify;
                h3{
                    font-size: 2.25rem;
                    text-align: center;
                    margin-bottom: 20px;
                }

                p{
                    width: 100%;
                    font-size: 1.5625rem;
                    text-align: center;
                }

                img{
                    width: 100%;
                }
            }
        }
    }
}